body {
  margin:0px;
  background-color:rgba(240, 246, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u34504 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:23px;
  width:1622px;
  height:132px;
  display:flex;
  transition:none;
}
#u34504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:132px;
}
#u34504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34505 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:165px;
  width:805px;
  height:125px;
  display:flex;
  transition:none;
}
#u34505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:125px;
}
#u34505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34506 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:301px;
  width:806px;
  height:125px;
  display:flex;
  transition:none;
}
#u34506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:125px;
}
#u34506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34507 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:439px;
  width:806px;
  height:124px;
  display:flex;
  transition:none;
}
#u34507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:124px;
}
#u34507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34508 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:574px;
  width:807px;
  height:124px;
  display:flex;
  transition:none;
}
#u34508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:124px;
}
#u34508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34509 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:165px;
  width:803px;
  height:125px;
  display:flex;
  transition:none;
}
#u34509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:125px;
}
#u34509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34510 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:303px;
  width:803px;
  height:123px;
  display:flex;
  transition:none;
}
#u34510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:123px;
}
#u34510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34511 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:574px;
  width:803px;
  height:194px;
  display:flex;
  transition:none;
}
#u34511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:194px;
}
#u34511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34512 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:781px;
  width:803px;
  height:215px;
  display:flex;
  transition:none;
}
#u34512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:215px;
}
#u34512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34513 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:711px;
  width:804px;
  height:237px;
  display:flex;
  transition:none;
}
#u34513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:237px;
}
#u34513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34514 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:1009px;
  width:810px;
  height:287px;
  display:flex;
  transition:none;
}
#u34514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:287px;
}
#u34514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34515 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:439px;
  width:803px;
  height:123px;
  display:flex;
  transition:none;
}
#u34515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:123px;
}
#u34515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#5E5E5E;
}
#u34516 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:453px;
  width:86px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#5E5E5E;
}
#u34516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u34517 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:453px;
  width:508px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u34517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34518 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:469px;
  width:37px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34519 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:469px;
  width:61px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34520 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:469px;
  width:99px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34521 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:469px;
  width:49px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34522 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:469px;
  width:61px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
  text-align:center;
  line-height:32px;
}
#u34522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34522_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
