body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1445px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 137, 250, 0.09803921568627451);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#515A6E;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1445px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#515A6E;
}
#u3960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u3960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:130px;
  width:220px;
  height:450px;
  display:flex;
  transition:none;
}
#u3962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:450px;
}
#u3962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:183px;
  width:194px;
  height:344px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:183px;
  width:192px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:186px;
  width:184px;
  height:6px;
  display:flex;
  transition:none;
}
#u3965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:6px;
}
#u3965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:218px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
}
#u3967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u3967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#606266;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:388px;
  width:65px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#606266;
}
#u3969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#606266;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:423px;
  width:169px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#606266;
}
#u3970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#409EFF;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:474px;
  width:98px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#409EFF;
}
#u3971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3971_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#409EFF;
}
#u3971.mouseOver {
}
#u3971_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#409EFF;
}
#u3971.mouseDown {
}
#u3971_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 236, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#409EFF;
}
#u3971.disabled {
}
#u3971_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#409EFF;
}
#u3971.mouseOver.mouseDown {
}
#u3971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:90px;
  width:88px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u3972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:130px;
  width:220px;
  height:450px;
  display:flex;
  transition:none;
}
#u3974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:450px;
}
#u3974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:183px;
  width:194px;
  height:344px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:183px;
  width:192px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:186px;
  width:184px;
  height:6px;
  display:flex;
  transition:none;
}
#u3977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:6px;
}
#u3977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:388px;
  width:65px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u3978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:344px;
  width:180px;
  height:14px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3981 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:15px;
}
#u3981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:300px;
  width:44px;
  height:20px;
  display:flex;
  opacity:0.26;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3982 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u3982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:277px;
  width:36px;
  height:16px;
  display:flex;
  opacity:0.26;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u3983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:297px;
  width:27px;
  height:12px;
  display:flex;
  opacity:0.26;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3984 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u3984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:358px;
  width:77px;
  height:4px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:4px;
}
#u3985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:275px;
  width:124px;
  height:79px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3986 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:126px;
  height:81px;
}
#u3986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.20784313725490197);
  border-radius:4.18064516px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:310px;
  width:72px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u3988 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:63px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.20784313725490197);
  border-radius:4.64516129px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:281px;
  width:54px;
  height:63px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u3989 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:4px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.20784313725490197);
  border-radius:1.92857143px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:294px;
  width:29px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u3990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:4px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.20784313725490197);
  border-radius:1.92857143px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:303px;
  width:29px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u3991 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:4px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.20784313725490197);
  border-radius:1.92857143px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:312px;
  width:40px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u3992 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:315px;
  width:72px;
  height:44px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3993 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:44px;
}
#u3993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:315px;
  width:72px;
  height:44px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3994 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:44px;
}
#u3994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:263px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3996 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u3996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:271px;
  width:6px;
  height:7px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3997 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u3997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:260px;
  width:29px;
  height:24px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u3998 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u3998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:423px;
  width:113px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u3999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:90px;
  width:43px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4000 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:660px;
  width:220px;
  height:450px;
  display:flex;
  transition:none;
}
#u4002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:450px;
}
#u4002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:713px;
  width:194px;
  height:344px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:713px;
  width:192px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:716px;
  width:184px;
  height:6px;
  display:flex;
  transition:none;
}
#u4005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:6px;
}
#u4005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#606266;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:918px;
  width:81px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#606266;
}
#u4007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:953px;
  width:183px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1004px;
  width:98px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4009_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4009.mouseOver {
}
#u4009_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4009.mouseDown {
}
#u4009_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 236, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4009.disabled {
}
#u4009_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4009.mouseOver.mouseDown {
}
#u4009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(10px 14px 7.5px rgba(59, 94, 123, 0.0392156862745098));
  transition:none;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:766px;
  width:119px;
  height:119px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4011 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:774px;
  width:103px;
  height:104px;
  display:flex;
  opacity:0.4870923913043478;
  transition:none;
}
#u4012 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:104px;
}
#u4012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:774px;
  width:115px;
  height:105px;
  display:flex;
  transition:none;
}
#u4014 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:105px;
}
#u4014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'DINCondensed-Bold', 'DIN Condensed Bold', 'DIN Condensed', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#454E6B;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:789px;
  width:82px;
  height:50px;
  display:flex;
  opacity:0.2;
  transition:none;
  transform-origin:50% 50%;
  font-family:'DINCondensed-Bold', 'DIN Condensed Bold', 'DIN Condensed', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#454E6B;
}
#u4015 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:836px;
  width:35px;
  height:17px;
  display:flex;
  transition:none;
}
#u4016 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u4016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:620px;
  width:55px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4017 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:660px;
  width:220px;
  height:450px;
  display:flex;
  transition:none;
}
#u4019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:450px;
}
#u4019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:713px;
  width:194px;
  height:344px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:713px;
  width:192px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:716px;
  width:184px;
  height:6px;
  display:flex;
  transition:none;
}
#u4022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:6px;
}
#u4022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#606266;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:918px;
  width:81px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#606266;
}
#u4024 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4024_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:953px;
  width:155px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1004px;
  width:98px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4026_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4026.mouseOver {
}
#u4026_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4026.mouseDown {
}
#u4026_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 236, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4026.disabled {
}
#u4026_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
}
#u4026.mouseOver.mouseDown {
}
#u4026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:790px;
  width:70px;
  height:71px;
  display:flex;
  opacity:0.26;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4029 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:71px;
}
#u4029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:768px;
  width:36px;
  height:36px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4030 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:833px;
  width:28px;
  height:27px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4031 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u4031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:849px;
  width:180px;
  height:15px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4032 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:860px;
  width:77px;
  height:4px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4033 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:4px;
}
#u4033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:862px;
  width:42px;
  height:4px;
  display:flex;
  opacity:0.16;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4034 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:4px;
}
#u4034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:780px;
  width:40px;
  height:32px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4036 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u4036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:58px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.35294117647058826);
  border-radius:7.2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:803px;
  width:74px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u4037 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.35294117647058826);
  border-radius:4.62857143px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:836px;
  width:31px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u4038 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:817px;
  width:31px;
  height:31px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4039 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:824px;
  width:12px;
  height:17px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4040 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u4040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:823px;
  width:12px;
  height:18px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4041 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u4041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
  background:inherit;
  background-color:rgba(180, 184, 191, 0.35294117647058826);
  border-radius:4.62857143px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:838px;
  width:31px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#3D7FFF;
}
#u4042 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:843px;
  width:15px;
  height:15px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4043 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:847px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#3D7FFF;
}
#u4044 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:620px;
  width:91px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4045 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4045_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1120px;
  width:300px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
