body {
  margin:0px;
  background-color:rgba(240, 246, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:790px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:6px;
  filter:drop-shadow(0px 0px 2.5px rgba(255, 255, 255, 0.34901960784313724));
  transition:none;
  text-align:right;
}
#u14263 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1648px;
  height:790px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
#u14263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14265 {
  position:absolute;
  left:248px;
  top:129px;
}
#u14265_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14265_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u14266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u14266 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u14266_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u14266.disabled {
}
#u14266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u14267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14265_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u14265_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14268 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u14268_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14268.disabled {
}
#u14268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14269 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u14269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u14270 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:124px;
  width:165px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u14270 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u14272 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:228px;
  width:90px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u14272 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u14273_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u14273_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u14273_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u14273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u14273 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:228px;
  width:449px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14273 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14273_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u14273.hint {
}
#u14273_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u14273.disabled {
}
#u14273_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u14273.hint.disabled {
}
#u14274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14275 {
  position:absolute;
  left:248px;
  top:181px;
}
#u14275_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14275_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u14276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u14276 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u14276_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u14276.disabled {
}
#u14276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u14277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14275_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u14275_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14278 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u14278_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u14278.disabled {
}
#u14278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14279 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u14279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u14280 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:176px;
  width:165px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u14280 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14281 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:43px;
  width:65px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14283 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:770px;
  width:181px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14283 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 223, 37, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:25px;
}
#u14285 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:818px;
  width:1648px;
  height:730px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:25px;
}
#u14285 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 20px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(252, 159, 159, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:25px;
}
#u14287 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1548px;
  width:1648px;
  height:245px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:25px;
}
#u14287 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14288 {
  position:fixed;
  right:15px;
  bottom:15px;
  visibility:hidden;
}
#u14288_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
}
#u14288_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u14289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.2);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u14290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14291 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u14291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14293 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:29px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u14293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u14293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u14293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14294 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u14294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u14294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u14295 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:26px;
  width:57px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u14295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14295_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14288_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  visibility:hidden;
}
#u14288_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u14296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(251, 67, 49, 0.2);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u14297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14298 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u14298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u14299 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:26px;
  width:57px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u14299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14299_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14300 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u14300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u14300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14288_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  visibility:hidden;
}
#u14288_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u14301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(250, 173, 30, 0.2);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u14302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14303 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u14303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u14304 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:26px;
  width:57px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u14304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14304_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14306 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:28px;
  width:3px;
  height:14px;
  display:flex;
  transition:none;
}
#u14306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u14306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:14px;
}
#u14306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14307 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u14307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u14307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
