body {
  margin:0px;
  background-color:rgba(240, 246, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:790px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:6px;
  filter:drop-shadow(0px 0px 2.5px rgba(255, 255, 255, 0.34901960784313724));
  transition:none;
  text-align:right;
}
#u18514 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1648px;
  height:790px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
#u18514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18516 {
  position:absolute;
  left:248px;
  top:129px;
}
#u18516_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18516_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18517 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u18517_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18517.disabled {
}
#u18517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u18518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18516_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u18516_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18519 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u18519_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18519.disabled {
}
#u18519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18520 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u18520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u18521 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:124px;
  width:165px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u18521 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u18521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u18523 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:228px;
  width:90px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u18523 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u18523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u18524_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u18524_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u18524_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  padding:2px 2px 2px 2px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u18524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u18524 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:228px;
  width:449px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18524 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18524_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u18524.hint {
}
#u18524_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u18524.disabled {
}
#u18524_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:76px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u18524.hint.disabled {
}
#u18525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18526 {
  position:absolute;
  left:248px;
  top:181px;
}
#u18526_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18526_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18527 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u18527_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18527.disabled {
}
#u18527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u18528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18526_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u18526_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18529 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u18529_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18529.disabled {
}
#u18529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18530 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:2px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u18530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u18531 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:176px;
  width:165px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:right;
}
#u18531 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u18531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18532 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:43px;
  width:65px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18532_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18534 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:770px;
  width:181px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18534 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 223, 37, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:25px;
}
#u18536 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:818px;
  width:1648px;
  height:730px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:25px;
}
#u18536 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 20px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(252, 159, 159, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:25px;
}
#u18538 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1548px;
  width:1648px;
  height:245px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:25px;
}
#u18538 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18539 {
  position:fixed;
  right:15px;
  bottom:15px;
  visibility:hidden;
}
#u18539_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
}
#u18539_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u18540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.2);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u18541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18542 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u18542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18544 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:29px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u18544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u18544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18545 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u18545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u18546 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:26px;
  width:57px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u18546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18539_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  visibility:hidden;
}
#u18539_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u18547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(251, 67, 49, 0.2);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u18548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18549 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u18549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u18550 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:26px;
  width:57px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u18550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18550_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18551 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u18551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18539_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.34901960784313724);
  visibility:hidden;
}
#u18539_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u18552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(250, 173, 30, 0.2);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u18553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18554 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u18554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u18555 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:26px;
  width:57px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u18555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18557 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:28px;
  width:3px;
  height:14px;
  display:flex;
  transition:none;
}
#u18557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:14px;
}
#u18557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18558 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u18558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u18558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
