body {
  margin:0px;
  background-color:rgba(128, 128, 255, 1);
  background-image:url('../../images/登录页/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
  background-origin:border-box;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:910px;
  width:235px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u4019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:257px;
  width:442px;
  height:353px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4021 {
  position:absolute;
  left:1157px;
  top:260px;
}
#u4021_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4021_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  display:flex;
  transition:none;
}
#u4022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u4022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4021_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4021_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:6px;
  width:64px;
  height:64px;
  display:flex;
  transition:none;
}
#u4023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u4023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:260px;
  width:450px;
  height:350px;
  display:flex;
  transition:none;
}
#u4024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-15px;
  width:480px;
  height:380px;
}
#u4024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:257px;
  width:41px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'STKaitiSC-Bold', 'Kaiti SC Bold', 'Kaiti SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:260px;
  width:391px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'STKaitiSC-Bold', 'Kaiti SC Bold', 'Kaiti SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4026 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:328px;
  width:442px;
  height:1px;
  display:flex;
  transition:none;
}
#u4028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:449px;
  height:8px;
}
#u4028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:554px;
  width:1px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u4029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4029_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:24px;
  width:173px;
  height:76px;
  display:flex;
  transition:none;
}
#u4030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:76px;
}
#u4030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:344px;
  width:442px;
  height:248px;
}
#u4031_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:248px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4031_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:148px;
  width:23px;
  height:24px;
  display:flex;
  transition:none;
}
#u4033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u4033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:144px;
  width:248px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(66, 152, 242, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:144px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4036 {
  position:absolute;
  left:90px;
  top:144px;
  touch-action:none;
}
#u4036_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4036_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
}
#u4037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4036_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4036_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#4298F2;
  text-align:right;
}
#u4038 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:87px;
  width:21px;
  height:24px;
  display:flex;
  transition:none;
}
#u4040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u4040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#515A6E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4041_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#C5C8CD;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4041_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#515A6E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4041_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#C5C8CD;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:83px;
  width:248px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4041 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u4041_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4041.hint {
}
#u4041_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4041.disabled {
}
#u4041_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4041.hint.disabled {
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#515A6E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4043_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#C5C8CD;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4043_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#515A6E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4043_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  padding:2px 5px 2px 5px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#C5C8CD;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:22px;
  width:252px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4043 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u4043_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4043.hint {
}
#u4043_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4043.disabled {
}
#u4043_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515A6E;
}
#u4043.hint.disabled {
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:26px;
  width:20px;
  height:24px;
  display:flex;
  transition:none;
}
#u4044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u4044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:90px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4046 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4046_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#606266;
}
#u4046.selected {
}
#u4046_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:93px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4047_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4047.mouseOver {
}
#u4047_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4047.selected {
}
#u4047_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4047.mouseOver.selected {
}
#u4047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:97px;
  width:7px;
  height:5px;
  display:flex;
  transition:none;
}
#u4048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u4048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:216px;
  width:70px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4049 .text {
  position:absolute;
  align-self:center;
  padding:2px 14px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u4049_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4049.mouseOver {
  opacity:0.8;
}
#u4049_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4049.disabled {
}
#u4049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:442px;
  height:1px;
  display:flex;
  transition:none;
}
#u4050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:2px;
}
#u4050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:226px;
  width:265px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4052_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4052.selected {
}
#u4052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:228px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4053_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4053.mouseOver {
}
#u4053_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4053.selected {
}
#u4053_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4053.mouseOver.selected {
}
#u4053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:231px;
  width:7px;
  height:5px;
  display:flex;
  transition:none;
}
#u4054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u4054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4031_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:248px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4031_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:200px;
  height:200px;
  display:flex;
  transition:none;
}
#u4055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u4055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:210px;
  width:433px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4056 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
