body {
  margin:0px;
  background-color:rgba(240, 246, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13871 {
  position:absolute;
  left:20px;
  top:60px;
}
#u13871_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13871_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:731px;
  width:0px;
  height:0px;
}
#u13874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13874_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13874_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13874_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13874_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13874.hint {
}
#u13874_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13874.disabled {
}
#u13874_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13874.hint.disabled {
}
#u13875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(0px 0px 7.5px rgba(170, 170, 170, 0.34901960784313724));
  transition:none;
}
#u13877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13871_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13871_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:731px;
  width:0px;
  height:0px;
}
#u13880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13880_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13880_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13880_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13880_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13880.hint {
}
#u13880_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13880.disabled {
}
#u13880_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13880.hint.disabled {
}
#u13881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(0px 0px 7.5px rgba(170, 170, 170, 0.34901960784313724));
  transition:none;
}
#u13883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13871_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1630px;
  height:867px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13871_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:738px;
  width:0px;
  height:0px;
}
#u13886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13886_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13886_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13886_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13886_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13886.hint {
}
#u13886_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13886.disabled {
}
#u13886_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13886.hint.disabled {
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(0px 0px 7.5px rgba(170, 170, 170, 0.34901960784313724));
  transition:none;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:1630px;
  height:860px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13871_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13871_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:731px;
  width:0px;
  height:0px;
}
#u13892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13892_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13892_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13892_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13892_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13892.hint {
}
#u13892_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13892.disabled {
}
#u13892_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13892.hint.disabled {
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(0px 0px 7.5px rgba(170, 170, 170, 0.34901960784313724));
  transition:none;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13871_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13871_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:731px;
  width:0px;
  height:0px;
}
#u13898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13898_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13898_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13898_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  padding:2px 2px 2px 2px;
  font-family:"MicrosoftYaHei", "微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13898_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13898.hint {
}
#u13898_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13898.disabled {
}
#u13898_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13898.hint.disabled {
}
#u13899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(0px 0px 7.5px rgba(170, 170, 170, 0.34901960784313724));
  transition:none;
}
#u13901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:860px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13902 {
  position:fixed;
  right:0px;
  top:0px;
  visibility:hidden;
}
#u13902_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1500px;
  height:913px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13902_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:913px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 2px 2.5px rgba(215, 215, 215, 1));
  transition:none;
}
#u13903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:913px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13905 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u13905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13906 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:12px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u13906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13910 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:92px;
  width:1480px;
  height:125px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13911 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:48px;
  width:1480px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13911 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13913 {
  position:absolute;
  left:10px;
  top:262px;
}
#u13913_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13913_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13913_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13913_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13913_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13913_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u13922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:561px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13923 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:217px;
  width:1480px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13923 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13924 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:224px;
  width:73px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13924 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13924_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13924.mouseOver {
}
#u13924_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13924.selected {
}
#u13924_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13924.mouseOver.selected {
}
#u13924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13925 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:224px;
  width:73px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13925 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13925_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13925.mouseOver {
}
#u13925_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13925.selected {
}
#u13925_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u13925.mouseOver.selected {
}
#u13925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13926 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1630px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 231, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13927 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:71px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#303133;
}
#u13927 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13927_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 231, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13927.mouseOver {
}
#u13927_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13927.selected {
}
#u13927_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13927.mouseOver.selected {
}
#u13927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 231, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13928 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:20px;
  width:71px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#303133;
}
#u13928 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13928_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 231, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13928.mouseOver {
}
#u13928_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13928.selected {
}
#u13928_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13928.mouseOver.selected {
}
#u13928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 231, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13930 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:20px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#303133;
}
#u13930 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13930_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 231, 237, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13930.mouseOver {
}
#u13930_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13930.selected {
}
#u13930_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#303133;
}
#u13930.mouseOver.selected {
}
#u13930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
