body {
  margin:0px;
  background-color:rgba(240, 246, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26662 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1630px;
  height:796px;
  display:flex;
  transition:none;
}
#u26662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:796px;
}
#u26662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26663 {
  position:fixed;
  right:0px;
  top:0px;
  visibility:hidden;
}
#u26663_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1500px;
  height:963px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26663_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:963px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:963px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u26666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u26666 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u26666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26668 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:14px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
}
#u26668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u26668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u26668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26669 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:7px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u26669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u26669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26670 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:49px;
  width:1482px;
  height:852px;
}
#u26670_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:852px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26670_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:198px;
  display:flex;
  transition:none;
}
#u26671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:198px;
}
#u26671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:1482px;
  height:322px;
  display:flex;
  transition:none;
}
#u26673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:322px;
}
#u26673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:767px;
  width:1482px;
  height:524px;
  display:flex;
  transition:none;
}
#u26674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:524px;
}
#u26674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26676 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u26677 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u26678 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u26679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26679 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:1382px;
  height:220px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u26680 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:211px;
  width:60px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
#u26682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:913px;
  width:1500px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
#u26682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u26683 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:922px;
  width:85px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26683 .text {
  position:absolute;
  align-self:center;
  padding:2px 14px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u26683_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u26683.mouseOver {
  opacity:0.8;
}
#u26683_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u26683.disabled {
}
#u26683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#606266;
}
#u26684 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:922px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#606266;
}
#u26684 .text {
  position:absolute;
  align-self:center;
  padding:2px 14px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u26684_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#606266;
}
#u26684.mouseOver {
}
#u26684_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#606266;
}
#u26684.disabled {
}
#u26684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u26685 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:922px;
  width:127px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u26685 .text {
  position:absolute;
  align-self:center;
  padding:2px 14px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u26685_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u26685.mouseOver {
  opacity:0.8;
}
#u26685_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u26685.disabled {
}
#u26685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26686 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:35px;
  width:54px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
