body {
  margin:0px;
  background-color:rgba(240, 246, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27583 {
  position:fixed;
  right:0px;
  top:0px;
  visibility:hidden;
}
#u27583_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1500px;
  height:963px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27583_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:963px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u27584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:963px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u27586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"MicrosoftYaHei-Bold", "微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u27586 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u27586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27588 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:14px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
}
#u27588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27589 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:7px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u27589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u27589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u27589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
#u27591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:913px;
  width:1500px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
#u27591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#606266;
}
#u27592 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:922px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#606266;
}
#u27592 .text {
  position:absolute;
  align-self:center;
  padding:2px 14px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u27592_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#606266;
}
#u27592.mouseOver {
}
#u27592_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#606266;
}
#u27592.disabled {
}
#u27592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u27593 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:922px;
  width:57px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27593 .text {
  position:absolute;
  align-self:center;
  padding:2px 14px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u27593_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u27593.mouseOver {
  opacity:0.8;
}
#u27593_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u27593.disabled {
}
#u27593_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27595 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:54px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u27596 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:54px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u27597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1473px;
  height:838px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u27597 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:54px;
  width:1473px;
  height:838px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u27598 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:686px;
  width:491px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27598 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u27598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27599 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1630px;
  height:852px;
  display:flex;
  transition:none;
}
#u27599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:852px;
}
#u27599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27600 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:131px;
  width:271px;
  height:494px;
  display:flex;
  transition:none;
}
#u27600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:494px;
}
#u27600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 246, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#555555;
  text-align:left;
}
#u27601 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:593px;
  width:271px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#555555;
  text-align:left;
}
#u27601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u27601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:80px;
  background:inherit;
  background-color:rgba(105, 219, 255, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u27602 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:6px;
  width:351px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27602 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u27602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
